<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <link th:href="@{/css/createPostWrite.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>프로젝트 만들기</title>
</head>
<th:block layout:fragment="content">
    <div class="contentBox">
        <div class="box_write">
            <div class="form-group">
                <input type="text" name="title" id="title" placeholder="프로젝트 제목을 입력하세요" size=164 maxlength=100>
                <div class="titleCheck"></div>
                <div class="title2">
                    <input type="text" name="title2" id="title2" placeholder="프로젝트 한줄 설명" size=164 maxlength=100>
                </div>
            </div>
            <br>
            <label for="exampleFormControlInput1" class="form-label">프로젝트 기간</label>
            <div class="mb-3">
                <input type="ProjectDate" maxlength=100 class="form-control" id="exampleFormControlInput1"
                       placeholder="입력">&nbsp;&nbsp; ~ &nbsp;&nbsp;
                <input type="ProjectDate" maxlength=100 class="form-control" id="exampleFormControlInput2"
                       placeholder="입력">
            </div>
            <br>
            <textarea id="content" rows="9" cols="150" name="content"
                      placeholder="내용을입력해주세요 "></textarea>
            <div class="contentCheck"></div>
        </div>
        <br>
        <div class="write_Button">
            <button type="submit" id="writeBtn" class="btn btn-outline-dark">작성</button>
        </div>
    </div>
</th:block>
</html>
